body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #1D1D20;
  color: #fff;
}
.service-card div {
  font-size: 6rem; /* Icon size */
  /* margin-bottom: 1rem; */
}


.services-section {
  padding: 4rem 2rem;
  text-align: center;
}

.services-heading {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 3rem;
  color: #ffffff;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-content: center;
}

.service-card {
  background-color: inherit;
  padding: 2rem 1.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  text-align: center;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.1);
}

.service-title {
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.service-description {
  font-size: 1.3rem;
  color: #ffffff;
  opacity: 0.8;
  margin-top: 0.5rem;
}

/* Responsive Design */
@media (max-width: 992px) {
  .services-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .services-container {
    grid-template-columns: 1fr;
  }
}
